.header {
    /* definir display flex para alinhar items */
    padding: 30px 0;
    margin: 0 40px;
    color: white;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__item {
    display: inline-block;
}

.header__link {
    /* sempre usar cores em hexadecimal */
    color: #fff;
    text-decoration: none;
}

.header__icon {
    margin-right: 15px;
}

.header__item--free-quote .header__link {
    background-color: #2a69ee;
    border-radius: 2px;
    padding: 5px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 40px;
    padding-top: 80px;
}

.main-principal {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.box {
    padding: 80px 0;
}

.box-text {
    margin-bottom: 100px;
}

.box-coment,
.box-text {
    color: #fff;
}

.box-text__title {
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: Raleway;
}

.box-coment-paragraph {
    font-size: 16px;
    margin: 0;
    padding-bottom: 10px;
}

.photo-cell {
    position: relative;
    width: 50%;
    min-height: 800px;
}

.photo-cell-image {
    height: 800px;
    right: 0;
    top: -80px;
    position: absolute;
}


.photo-cell-image-works{
    height: 300px;
    width: 450px;
}
.work_conteiner_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    
}
.box-works-paragraph{
    margin-top:12%;
    color: #fff;
}
.works-photos {
    display:flex;
    justify-content: center;
    margin: 0 40px;
    padding-top: 80px;
    width: auto;
}

.works-photos__image {
    width: 100%;
}
.works-photos__size.works-photos__size--middle .works-photos__image:first-child {
    padding-bottom: 10px;
}

.works-photos__size.works-photos__size--middle {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

]
.work-image--center{
    flex-direction: column;   
}



