
body{background-color:black;
height: 620px;
font-family: Raleway;}
header {
    color:white;
    
    }
.img-fundo{width:100%;
height: 100%;
position:absolute;
background-image: cover
;
}
.photo-cell{
    position:absolute;
    top:18%;
    left:60%;
    margin:0;
    padding:0;
}
.photo-cell img{width:80%;}

.title{
    position: absolute;
    top:25%;
    left:9%;
    padding:0;
    margin:0;
    height: 20%;
    width: 30%;}
.menu a { text-decoration:none;
color:white;
letter-spacing: 2px;
}
.menu1 img {
    margin-right: 15px;
}
.menu2 img {
    margin-left: 15px;
}
.menu3 img {
    margin-right: 15px;
}
.Free-quote img {
    margin-right: 15px;
}
.menu1{
    position:absolute;
    top:5%;
    left:9%;
}
.menu2{
    position:absolute;
    top:5%;
    left:45%;
   }
.menu3{
    position:absolute;
    top:5%;
    right: 15%;
   }
.Free-quote {
 background-color: #2a69ee;
 position:absolute;
    top:5%;
    right: 15%;
    border-radius: 2px;
    padding:3px;
}
.title h1{font-weight: normal;
    padding:0;
    margin:0;
    font-size: 50px;
font-family: Raleway;
}
.title-coment{
    position: absolute;
top:70%;
left:9%;
font-size: 20px;
}

.main-title-position{
    position: absolute;
    top:30%;
    left:9%;
    color:white;
    
}

.main-title-position a{
    line-height: 60px;
    display: block;
    text-decoration: none;
    color:white;
    padding:0;
    margin:0;
    font-weight: bold;
    font-size:50px;
    
}
.main-title-position :first-child{
    color:#06EBBF;
}
